# Curated requirements
azureml-core==1.53.0
azureml-dataset-runtime==1.53.0
azureml-defaults==1.53.0
azure-ml==0.0.1
azure-ml-component==0.9.18.post2
azureml-mlflow==1.53.0
azureml-contrib-services==1.53.0
azureml-contrib-services==1.53.0
azureml-automl-common-tools==1.53.0
torch-tb-profiler~=0.4.0
azureml-inference-server-http~=0.8.0
inference-schema~=1.5.0
MarkupSafe==2.1.2
regex
pybind11
cryptography>=41.0.4
aiohttp>=3.8.5

# Detectron2 requirements
pyyaml==5.1
docutils==0.16
# https://github.com/sphinx-doc/sphinx/commit/7acd3ada3f38076af7b2b5c9f3b60bb9c2587a3d
sphinx==3.2.0
recommonmark==0.6.0
sphinx_rtd_theme
# Dependencies here are only those required by import
termcolor
numpy
tqdm
matplotlib
termcolor
yacs
tabulate
cloudpickle
Pillow
future
git+https://github.com/facebookresearch/fvcore.git
omegaconf>=2.1.0.dev24
hydra-core>=1.1.0.dev5
scipy
timm
pycocotools

# SAHI requirements
opencv-python>=4.2.0.32
shapely>=1.8.0
tqdm>=4.48.2
pillow>=8.2.0
pybboxes==0.1.6
fire
terminaltables
requests
click

# Other requirements
torch==2.0
argparse
tensorboard
rasterio
geopandas
shapely

